.div-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.div-products {
    flex: auto;
    margin: 1%;
}

.custom-banner {
    width: 95%;
    height: 85%;
    object-fit: cover;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 5px;
    margin-left: 26px;
    cursor: pointer;
}

.centered-row {
    display: flex;
    justify-content: center;
}

.banner {
    background-color: #000;
    height: 25rem;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
}